<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secuso.privacyfriendlyweather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ForecastCityActivity"/>
        <activity
            android:name=".activities.ForecastCityActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.RadiusSearchActivity"
            android:label="@string/radius_search_label"
            android:parentActivityName=".activities.ForecastCityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ForecastCityActivity" />
        </activity>
        <activity
            android:name=".activities.RadiusSearchResultActivity"
            android:label="@string/radius_search_result_label"
            android:parentActivityName=".activities.RadiusSearchActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RadiusSearchActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".activities.ForecastCityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ForecastCityActivity" />
        </activity>
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".activities.ForecastCityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ForecastCityActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.ForecastCityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ForecastCityActivity" />

        </activity>
        <activity
            android:name=".activities.ForecastActivity"
            android:label="@string/activity_forecast_label"
            android:parentActivityName=".activities.CityWeatherActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CityWeatherActivity" />

        </activity>
        <activity
            android:name=".firststart.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <service
            android:name=".services.UpdateDataService"
            android:exported="false" />
        <receiver android:name=".widget.WeatherWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>
        <receiver android:name=".widget.WeatherWidgetThreeDayForecast">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_3day_info" />
        </receiver>
        <receiver android:name=".widget.WeatherWidgetFiveDayForecast">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_5day_info" />
        </receiver>

        <activity android:name=".widget.WeatherWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.WeatherWidgetThreeDayForecastConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.WeatherWidgetFiveDayForecastConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>